// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.define-typography-config(),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

.mat-toolbar.mat-primary {
  background: #ff1e1e;
  color: white;
  background-image: radial-gradient(circle at center, rgba(255, 157, 0, 0.469), rgba(255, 166, 0, 0.492), red, purple);
}

@mixin text-shadow($x-offset: 2px, $y-offset: 2px, $blur: 4px, $color: rgba(0, 0, 0, 0.5)) {
  text-shadow: $x-offset $y-offset $blur $color;
}

html, body {
  font-family: sans-serif;
  @include text-shadow(4px, 4px, 6px, rgba(0, 0, 0, 0.7)); // Customize as needed
  color:cornsilk;
}
h1, h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  margin: 15px 5px;
  text-align: center;
  @include text-shadow(4px, 4px, 6px, rgba(0, 0, 0, 0.7)); // Customize as needed
  color:cornsilk;
}
.message{
  padding-top:35px;
  font-size: 1.7em;
  max-width: 600px;
  text-align: justify;
}

// Define base colors
$base-link-color: #01ff0a; // Original color
$hover-link-color: lighten($base-link-color, 10%); // Brighter on hover
$active-link-color: lighten($base-link-color, 20%); // Even brighter when active

// Apply to anchor links
a {
  color: $base-link-color;
  text-decoration: none; // Optional: Removes underline from links

  &:hover {
    color: $hover-link-color;
    text-decoration: underline; // Optional: Adds underline on hover
  }

  &:active {
    color: $active-link-color;
  }
}




