$page-background: '../assets/wrs.png';

.top-level{
  .wrs-backdrop {
    z-index: -1;
    position: absolute;
    left:0px;
    top:0px;
    background-image: url($page-background);
    background-size: contain; /* Cover the entire page */
    background-position: top; /* Center the background image */
    background-repeat:no-repeat;  /* Do not repeat the image */
    height:100%;
    width:100%;
    opacity: .4;
  }
  .runtime {
    position: absolute;
    top: 0px; /* Move down from the top of the container */
    left:8px; /* Move right from the left of the container */
    height:6px;
    padding-top:0px;
    margin-bottom:1px;
    padding-left:3px;
    padding-top: 9px;
    width:fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .7em;
    font-weight: bold;
    display: inline-flex;
    color:rgb(8, 255, 16);
    div{
     padding-right: 20px;
     margin-top: -4px;
     div{
      padding-right: 5px;
     }
    }
  };
}
