<div class="top-level">
    <h1> WRS Angular Demo Application</h1>
    <div class="message">
    Welcome to the WRS Angular Demo (written by Michael Bowman of WRS).
    Open the README for setup 411.  Use the hamburger to launch menu items 
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="High Level"> <img [src] = "overview1ImgUrl"> </mat-tab>
        <mat-tab label="Run Time"> <img [src] = "overview2ImgUrl"></mat-tab>
    </mat-tab-group>
</div>
