<div class="top-level">
    <h1> WRS Angular Demo Application</h1>
    <div class="message">
    Welcome to the WRS Angular Demo, written by Michael Bowman.  This demo
    leverages the Webpack 5 Federated Module(FM) feature. There is one SPA (HOST-SHELL)
    that imports standlone components and modules from three other SPA's (REMOTES).  The HOST-SHELL
    is the main entry point into the application.
    Enjoy.
    </div>
    <div class="overview">
        <img>
        <img [src] = "overviewImgUrl">
    </div>
</div>
