.top-level {
    text-align: center;
    .show-error{
        color: red;
    }

    .buttons{
        padding-top:30px;
    }

    .loaded-components {
        width:100%;
        display: flex; // Establishes a flex container
        flex-direction: row; // Aligns children in a row (this is the default)
        justify-content: flex-start; // Aligns children from the left (this is the default)
        flex-wrap: wrap; // Allows children to wrap to the next line if necessary
        margin: 1px; // Adds some space between the child divs
        .component{
            width:100px;
            height:200px;
        }
    }
}