<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="main"  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dynamic Module-Federation Demo</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<mat-menu #main="matMenu">
  <button mat-menu-item><a routerLink="">Home</a></button>
  <button mat-menu-item><a routerLink="programatically-load-stand-alone-component">Load RM01 Component Programatically</a></button>
  <button mat-menu-item [matMenuTriggerFor]="remote01">Remote-01</button>
  <button mat-menu-item [matMenuTriggerFor]="remote02">Remote-02</button>
  <button mat-menu-item [matMenuTriggerFor]="remote03">Remote-03</button>
</mat-menu>

<mat-menu #remote03="matMenu">
  <button mat-menu-item><a routerLink="remote-03">RM03-AppComponent</a></button>
</mat-menu>
<mat-menu #remote02="matMenu">
  <button mat-menu-item><a routerLink="remote-02/open-ai">RM02-OpenAIModule</a></button>
</mat-menu>
<mat-menu #remote01="matMenu">
  <button mat-menu-item><a routerLink="remote-01/charts">RM01-ChartsModule</a></button>
</mat-menu>


